nav {
    color: white;
}
body {
    background-image: url('/images/samurai_wallpaper.jpg'); 
    color: white;
}

#welcome {
    text-align:center;
    text-align: left;
    padding-top: 50px;
    margin-left: 70px;
}
#animate-name {
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
  padding-left: 75px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* Navbar */
#navigation_bar {
    overflow: hidden;
}
#navigation_bar a {
    float:right;
    padding: 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/*Introductions */
.introduction{
    font-size: auto;
    padding-left: 75px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
h3:nth-child(2) {
    animation-delay:2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  /* Skills */ 

  #skills {
      padding-top: 105px;
      padding-left: 45px;
  }

  #skills_title {
      text-align: center;

  }

  .all_display {
      padding-left: 20px;
      display: inline-flex;

  }

  .icons {
     text-align: center;
     padding: 20px;
     font-size: 20px;
  }

  /* Projects */
  .project {
      width: 500px;
      height: 500px;
      display:inline-block;
      margin: 0 auto;
      position:relative;
      transition: .3s;



  }
  .project:hover .img {
      filter:blur(2px);
  }
  .project .img{
      width: 100%;
      height: 100%;
  }
  .project :hover .img{
      filter:blur(2px) brightness(60%);
  }

  .project :not(img) {
      position: absolute;
      z-index:1;
      color: black;
      text-align:center;
      width: 100%;
      opacity: 0;
      transition: .3s;
      
  }

  .project:hover :not(.img){
      opacity:1;
  }

  .project h4 {
      top: 60%;
  }
  .project h3 {
      white-space: normal;
      top: 30%;

  }
  .project h2 {
      top: 0;
  }
  .project i {
      top: 100%;
  }



  .project 
  


   /* Certifications */



    /* Footer */
#footer_logo {
    text-align: center;
}
#credentials a {
    float: center; 
    margin-left: 285px;
    text-decoration: none;
}
.creds {
    text-decoration: none;
    color: white;
    font-size: 20px;
}




  /* Backgrounds for each section*/
  #whoamI {

 
    


  }


  #footer {
      background-color:grey;
  }