#logo {
    font-family: verdana;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 15px;
}

nav {
    color: white;
}
body {
    background-image: url('/images/samurai_wallpaper.jpg'); 
    color: white;
}

#welcome {
    text-align:center;
    text-align: left;
    padding-top: 50px;
    margin-left: 70px;
}
#animate-name {
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
  padding-left: 75px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* Navbar */
#navigation_bar {
    overflow: hidden;
}
#navigation_bar a {
    float:right;
    padding: 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/*Introductions */
.introduction{
    font-size: auto;
    padding-left: 75px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
h3:nth-child(2) {
    animation-delay:2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  /*Learn more button */ 
  #learn_more {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  #learn_more span {
    transition: all 0.3s;
  }
  .learn_more::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  #learn_more:hover span {
    letter-spacing: 2px;
  }
  #learn_more:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  #learn_more::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }

  #learn_more:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  /* Skills */ 

  #skills {
      padding-top: 105px;
      padding-left: 45px;
  }

  #skills_title {
      text-align: center;

  }

  .all_display {
      padding-left: 20px;
      display: inline-flex;

  }

  .icons {
     text-align: center;
     padding: 20px;
     font-size: 20px;
  }

  /* Projects */
  .project {
      margin-bottom: 135px;
  }

  .section_title {
      text-align:center;
      font-size: 48px;
      margin-bottom: 60px;
  }
  .project_img { 
      width: 100%;
      transition: all 500ms ease;
  }
  .project_wrapper {
      position: relative;
      border-radius: 20px;
      box-shadow: 0 20px 80px 0 rgb(0,0,0,0.45);
      overflow: hidden; 
  }
  .project_wrapper:hover .project_description {
      opacity: 1;
      transform: translateY(-50%);

  }
  .project_wrapper:hover .project_img {
      transform: scale(1.07);
      filter: blur(5px);

  }
  .project_description {
      position: absolute;
      top: 50%;
      left: 90px;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity 300ms, transform 450ms ease;
      color: white;
      max-width: 550px;   
  }
  .project_wrapper:hover .project_wrapper-bg {
      opacity: 0.7;
  }
  .project_wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
  }
  .project_description_title {
      font-size: 40px;
  }
  .project_description_subtitle {
      margin-top: 8px;
  }
  .project_description_link {
      color: white;
      font-size: 20px;
      margin-right: 16px;
  }
  .project_description-para {
      margin: 16px 0;
  }

  .container {
      padding: 50px 0;
      width: 100%;
  }
  .row {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 12px;
  }



   /* Certifications */



    /* Footer */
#footer_logo {
    text-align: center;
}
#credentials a {
    float: center; 
    margin-left: 285px;
    text-decoration: none;
}
.creds {
    text-decoration: none;
    color: white;
    font-size: 20px;
}




  /* Backgrounds for each section*/
  #whoamI {

 
    


  }


  #footer {
      background-color:grey;
  }


  /* Contact */ 

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}



