html { 
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
#logo {
    font-family: Allura, cursive;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 15px;
}



#welcome {
    text-align:center;
    text-align: left;
    padding-top: 50px;
    font-size: 70px;

}
#animate-name {
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    black 0%,
    white 29%,
    gold 67%,
    silver 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 65px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* Navbar */
.navigation_bar {
    overflow: hidden;
}
.navigation_bar a {
    float:right;
    padding: 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    border-bottom: 2px solid white;
}


/*Introductions */
#homeimage {
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    float:right;
    position: relative;
    top: 10vh;
}

.introduction{
    background: rgb(14,19,13);
    background: radial-gradient(circle, rgba(14,19,13,1) 12%, rgba(234,235,234,1) 100%);
    color: white;
    padding-bottom: 150px;
    font-size: auto;
    padding-left: 75px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
h3:nth-child(2) {
    animation-delay:2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .Arrangement > *{
      float: left;
      padding: 15px;
  }
  /*Learn more button */ 
  a{
      text-decoration: none;
      color: black;
      font-size: 15px;
  }
  .button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: auto;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-3 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: black;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  
  #button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  #button-3:hover a {
    color: #d5d7e0;
  }


  /* Skills */ 

  #skills {
    background: rgb(187,221,18);
    background: radial-gradient(circle, rgba(187,221,18,1) 8%, rgba(122,125,121,1) 9%, rgba(34,35,31,1) 21%);
    padding-top: 20px;
    padding-left: 45px;
    color: white;
  }

  #skills_title {
      text-align: center;
      font-size: 50px;

  }

  .all_display {
      padding-left: 20px;
      display: inline-flex;

  }

  .icons {
     text-align: center;
     padding: 20px;
     font-size: 20px;
  }

  /* Projects */
  #projects {
    background: rgb(231,19,59);
    background: radial-gradient(circle, rgba(231,19,59,1) 6%, rgba(14,16,13,1) 17%, rgba(81,84,79,1) 84%);
  }
  .project {
      margin-bottom: 135px;
  }

  .section_title {
      text-align:center;
      font-size: 48px;
      margin-bottom: 60px;
  }
  .project__list {
      list-style-type: none;
  }
  .project_img { 
      width: 100%;
      height: 100%;
      transition: all 500ms ease;
  }
  .project_wrapper {
      position: relative;
      border-radius: 20px;
      box-shadow: 0 20px 80px 0 rgb(0,0,0,0.45);
      overflow: hidden; 
  }
  .project_wrapper:hover .project_description {
      opacity: 1;
      transform: translateY(-50%);

  }
  .project_wrapper:hover .project_img {
      transform: scale(1.07);
      filter: blur(5px);

  }
  .project_description {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 15;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity 300ms, transform 450ms ease;
      color: white;
      max-width: 550px;   
  }
  .project_wrapper:hover .project_wrapper-bg {
      opacity: 0.7;
  }
  .project_wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
  }
  .project_description_title {
      font-size: 40px;
  }
  .project_description_subtitle {
      margin-top: 8px;
  }
  .project_description-para {
      margin: 16px 0;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 0;
      width: 100%;
  }
  .row {
      float: left;
      width: 45%;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0 12px;
  }



   /* Certifications */
#certs { 
    background: rgb(161,148,88);
    background: radial-gradient(circle, rgba(161,148,88,1) 7%, rgba(141,152,142,1) 10%, rgba(1,11,5,1) 15%, rgba(1,11,5,1) 21%);
}
#cert_title {
    text-align: center;
    font-size: 45px;
}




    /* Footer */


#footer_edit{
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
}
#footer_logo {
    text-align: center;
    font-size: 25px;
}
#credentials a {
    text-align: center;
    margin-left: 295px;
    text-decoration: none;
}
.creds {
    text-decoration: none;
    color: white;
    font-size: 20px;
}



  /* Backgrounds for each section*/






  /* Contact */ 
#contact_me {
    padding-top: 5px;
    color: white;
    background: rgb(13,119,43);
    background: radial-gradient(circle, rgba(13,119,43,1) 0%, rgba(21,106,45,1) 9%, rgba(19,100,110,1) 17%, rgba(17,95,169,1) 27%, rgba(8,20,18,1) 35%);
    width: 100vw;
    height: 100vh;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

#title_contact {
    text-align: center;
    font-size: 50px;
}


#message {
    height: 50vh;
    width: 49vh;
    resize: none; /* Disable user resizing */
    transition: height 0.3s;
    display: inline-block;


}


.container1 {
    display: inline-flex;
}

#form {
    height: 100vh;
    width: 100vh;
    float: left;
    padding-left: 20vh;
    
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=submit] {
  width: 50%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
  
}

#arrangement_of_icons > *{
    padding: 15px;
    justify-content: space-between;

}

/* Star Design */
.container3 {
    position: absolute;
    width: 100%;
    height:100%;
    overflow: hidden;
}

.star {
    position: fixed;
    color: #f39c12;
    font-size: 24px;
    animation: twinkle 1s infinite;

}
@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}


/* Rocket Design */
.rocket_container {
    position: fixed;
    font-size:50px;
}
.rocket {
    cursor: grab;
    position: absolute;

}

