<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href= "/css/style.css"> 
</head> 

    <section id ="nav"> 
        <a href= "main.html" id = "logo"> TR </a>
        <nav id= "navigation_bar">
            <a href= "contact.html"> Contact</a>  
            <a href= "#projects"> Projects</a> 
            <a href= "#skills">Skills</a>
            <a href = "#whoamI">About me</a>
    
            <!--Logo -->
            <!--About me -->
            <!--Skills-->
            <!--Contact-->
        </nav>
    
        </section>

    <h1> While I am in my professional career, I would love to gather and discuss opportunities that suits me. Feel free to message me and I'm looking forward to speaking</h1>

    <div id= "form"> 
        <form action="/action_page.php">
          <label for="fname">Full Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Full Name">
      
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Email">
      
          <label for="message">Message</label>
          <input type="text" id="message" name="message" placeholder="message"> 

          <input type="submit" value="submit"> 

        </form> 
    </div>
    <section id= "footer"> 
        <h3 id= "footer_logo"> TR </h3>
        <div id = "credentials">
            <a href= "https://www.linkedin.com/in/tahmidur-rabb-13b187145/" class="creds" target="_blank"> LinkedIn</a>
            <a href= "https://github.com/trabbAC4" class="creds" target="_blank"> GitHub</a>
            <a href= "wwww.google.com" class="creds" target="_blank"> Resume </a>
        </div>
    </section>

</head>
<body>
    
</body>
</html>