<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="/css/style.css">

    <title>Document</title>
</head>
<body>
    <section id ="nav"> 
    <nav id= "navigation_bar">
        <a href = "#aboutme">About me</a>
        <a href= "skills">Skills</a>
        <a href= "contact"> Contact</a>
        <a href= "extras"> Extras</a>
        <!--Logo -->
        <!--About me -->
        <!--Skills-->
        <!--Contact-->
    </nav>

    </section>

    <h1 id= "welcome"> Welcome! </h1>



    <div id="introduction"> 
    <h3> I am </h3>
    <h3> An aspiring software developer that specializes in full stack development
    <h3> An educator and leader that provides knowledge to his peers and the next generation </h3>
    <h3> A student that continues and strives to learn more about the tech world</h3>

    <h3> </h3>
    </div>


    <h3> Skills </h3>
    <ul>
        <li> Frontend Tools: </li>
            <ul>
            <p> React, Vue, HTML5/CSS3 Bootstrap, API Design, JavaScript, Flask/Django, WordPress,
            </ul>
        <li> Backend Tools: 
            Node.js, Express.Js, Laravel, Ruby on Rails
        </li>
        <li> Cloud Platforms: </li>
            <p> AWS, MongoDB, Heroku, Docker, MAMP</p>
    </ul>

    <h3> Certifications </h3>

     

    <h3> Projects </h3>


    <h3> Contact </h3>




    
</body>
</html>